@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url("https://db.onlinewebfonts.com/c/f61f14c7082c8d1ec315578e62f578c2?family=MAZIUS+REVIEW+20.09+Ex+italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-medium";
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main {
    width: 100%;
    /* height: 100vh; */

}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #FCFAF8;
}

/* navbar ---------------------------------------------------------------------------------------- */
.nav {
    height: 7vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    overflow: hidden;
}


.nav a {
    text-decoration: none;
    /* border-bottom: 1px solid #888; */
    text-transform: uppercase;
    font-size: 0.8vw;
    color: #505050;

}

/* main headings  ------------------------------------------------------------*/
.hero-heading1 {
    margin-top: 3vw;
    width: fit-content;
    padding: 0vw 4vw;
    overflow: hidden;
}

.hero-heading1 h1 {
    font-size: 13vw;
    color: #383838;
    letter-spacing: -0.2vw;
    font-weight: 550;
    text-transform: capitalize;
    /* font-weight: ; */
}

.hero-heading2 {
    overflow: hidden;

    line-height: 10vw;
    margin-left: 15vw;
    padding-right: vw;
    width: fit-content;
    /* background-color: blue; */
}

.hero-heading2 span {
    font-family: "MAZIUS REVIEW 20.09 Ex italic";
    color: #14CF93;
    font-size: 10vw;
    /* background-color: pink; */
    width: fit-content;
}

.hero-heading2 h1 {
    letter-spacing: -0.2vw;
    font-size: 13vw;
    color: #383838;
    font-weight: 500;
    text-transform: capitalize;

}

.svg {
    margin-left: 4vw;
}



/* page secound -------------------------------------------------------------------------------------- */

#page2 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #FCFAF8;

}

.secoundsection {
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
}

.h2 {
    overflow: hidden;
}

.about {
    margin-top: 12vw;
    padding-left: 4vw;

}

.about span {
    font-family: "MAZIUS REVIEW 20.09 Ex italic";
    font-size: 2.3vw;
    color: #14CF93;

}

.about h3 {
    font-size: 2.8vw;
    text-transform: uppercase;
    font-weight: 100;
    color: #414141;
}

.img img {
    position: absolute;
    top: 14%;
    z-index: 1;
    left: 65%;
    border-radius: 40px;
}

.img :nth-child(1) {
    transform: translate(-55%, -30%) rotate(-12deg);
}

.img :nth-child(2) {
    transform: translate(-30%, -13%) rotate(-2deg);
}

/* page3 -------------------------------------------------- */
#page3 {
    height: 300vh;
    position: relative;
    width: 100%;
    background-color: #F2F2F2;
}

/* projects section  ---------------------------------------------------- */

.projectheading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
}

.projectheading span {
    font-family: "MAZIUS REVIEW 20.09 Ex italic";
    color: #14CF93;
}

.projectheading h1 {
    font-size: 10vw;
    font-weight: 300;
    color: #383838;
    text-transform: capitalize;
}

.projectheading i {
    font-size: 5vw;
    font-weight: 100;
    margin-top: 12vw;
    color: #888;
}

/* project section wrapper  */

.projectwrapper {
    margin-top: 7vw;
    position: relative;
    padding-left: 4vw;

}

.projectrow1 {
    display: flex;
    /* justify-content: space-around; */
    gap: 5vw;
    align-items: end;
}

.project1 {
    position: relative;
}

.p1img {
    overflow: hidden;
    border-radius: 60px;
}

.p1img img {
    border-radius: 60px;
    width: 50vw;
    height: 50vw;
    scale: 1.5;
}

.p2img {
    overflow: hidden;
    border-radius: 60px;
}

.p2img img {
    border-radius: 60px;
    width: 28vw;
    object-fit: cover;
    scale: 1.5;
    height: 35vw;
}

.p1btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 3%;
    width: 10vw;
    height: 4vw;
    background-color: black;
    border-radius: 2vw;
}

.p1btn h2 {
    color: white;
    text-transform: capitalize;
    font-size: 1.5vw;

}

.project2 {
    position: relative;
}

.p2btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 7%;
    width: 10vw;
    height: 4vw;
    background-color: black;
    border-radius: 2vw;
}

.p2btn h2 {
    color: white;
    text-transform: capitalize;
    font-size: 1.5vw;

}

.projectrow2 {
    display: flex;
    margin-top: 12vw;
}

.project3 {
    position: relative;
    margin-top: 20vw;
}

.p3img {
    border-radius: 60px;
    overflow: hidden;

}

.p3img img {
    width: 30vw;
    scale: 1.5;
    height: 35vw;
    border-radius: 60px;
}

.p3btn {
    position: absolute;
    bottom: 3%;
    left: 7%;
    background-color: black;
    width: 10vw;
    height: 4vw;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p3btn h2 {
    font-size: 1.5vw;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.project4 {
    position: relative;
    margin-left: 7vw;
    height: 45vw;
    width: 55vw;
}
.p4img{
    border-radius: 60px;
    overflow: hidden;
}
.p4img img {
    width: 55vw;
    height: 45vw;
    object-position: top;
    object-fit: cover;
    border-radius: 60px;
    scale: 1.5;
}

.p4btn {
    position: absolute;
    bottom: 3%;
    border-radius: 2vw;
    left: 7%;
    background-color: black;
    width: 10vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p4btn h2 {
    font-size: 1.5vw;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

/* page 4--------------------------------------------------------  */

#page4 {
    width: 100%;
    height: 100vh;
    background-color: #253B39;
    position: relative;
}

.contactline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6vw;
}

.contactline h1 {
    line-height: 5.8vw;
    font-weight: 200;
    font-family: pp woodland;
    font-size: 6vw;
    text-transform: uppercase;
    text-align: center;
    color: white;

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
}

.button a {
    /* background-color: black; */
    /* width: 40vw; */
    /* border-radius: 20vw; */
    /* text-align: center; */
    /* height: 5vw; */
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    border: 1px solid #888;
    padding: 2vw 4vw;
    border-radius: 6vw;
}

.footer {
    position: absolute;
    bottom: 1%;
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    padding: 1vw 6vw;
    justify-content: space-between;

}

.footer a {
    text-decoration: none;
    color: #F2F2F2;

}

a {
    position: relative;
}

.hover::after {
    content: "";
    width: 0%;
    position: absolute;
    left: 0;
    right: 0;
    height: 0.6px;
    background-color: #888;
    bottom: -4px;
    transition: all 0.3s ease;
}

.hover:hover::after {
    width: 100%;
}

@media (max-width: 500px) {
    #page1 {
        width: 100%;
        height: 78vh;
        background-color: #FCFAF8;
    }

    .nav {
        height: 7vw;
        padding: 8.5vw 5vw;
        overflow: hidden;
        margin-bottom: 10vw;
    }

    .nav a {
        font-size: 3vw;
        color: #505050;
    }

    .hero-heading1 {
        margin-top: 3vw;
        padding: 0vw 4vw;
        overflow: hidden;
    }

    .hero-heading1 h1 {
        font-size: 20.8vw;
        color: #383838;
        letter-spacing: -0.8vw;
        line-height: 22vw;
    }

    .hero-heading2 {
        overflow: hidden;
        line-height: 18vw;
        margin-left: 0vw;
        padding: 0vw 4vw;
    }

    .hero-heading2 span {
        font-family: "MAZIUS REVIEW 20.09 Ex italic";
        color: #14CF93;
        margin-left: 50vw;
        width: fit-content;
        font-size: 18vw;
    }

    .hero-heading2 h1 {
        letter-spacing: -1vw;
        font-size: 20.8vw;
        color: #383838;
        font-weight: 500;
        text-transform: capitalize;

    }

    .svg {
        margin-top: 8vw;
        margin-left: 4vw;
    }


    #page2 {
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: #FCFAF8;
    }

    .secoundsection {
        display: flex;
        /* justify-content: center; */
        align-items: normal;
        flex-direction: column-reverse;

    }

    .about {
        margin-top: 100vw;
        padding-left: 4vw;

    }

    .about span {
        font-family: "MAZIUS REVIEW 20.09 Ex italic";
        font-size: 7vw;
        color: #14CF93;

    }

    .about h3 {
        font-size: 7vw;
        text-transform: uppercase;
        font-weight: 100;
        color: #414141;
    }

    .img img {
        position: absolute;
        top: 4%;
        z-index: 1;
        left: 40%;
        height: 80vw;
        border-radius: 40px;
    }

    .img :nth-child(1) {
        transform: translate(-55%, -30%) rotate(-12deg);
    }

    .img :nth-child(2) {
        transform: translate(-30%, -13%) rotate(-2deg);
    }


    #page3 {
        height: 240vh;
        position: relative;
        width: 100%;
        background-color: #F2F2F2;
    }

    /* projects section  ---------------------------------------------------- */

    .projectheading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20vw;
    }

    .projectheading span {
        font-family: "MAZIUS REVIEW 20.09 Ex italic";
        color: #14CF93;
    }

    .projectheading h1 {
        font-size: 13vw;
        font-weight: 300;
        color: #383838;
        text-transform: capitalize;
    }

    .projectheading i {
        display: none;
    }

    /* project section wrapper  */

    .projectwrapper {
        margin-top: 7vw;
        position: relative;
        padding: 6vw;

    }

    .projectrow1 {
        display: flex;
        /* justify-content: space-around; */
        gap: 5vw;
        align-items: end;
        flex-wrap: wrap;
    }

    .project1 {
        position: relative;
    }

    .p1img img {
        border-radius: 60px;
        width: 90vw;
        height: 90vw;
    }

    .p2img img {
        border-radius: 60px;
        width: 90vw;
        height: 90vw;
        object-fit: cover;
    }

    .p1btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 5%;
        left: 3%;
        width: 35vw;
        height: 10vw;
        background-color: black;
        border-radius: 20vw;
    }

    .p1btn h2 {
        color: white;
        text-transform: capitalize;
        font-size: 4.4vw;

    }

    .project2 {
        position: relative;
    }

    .p2btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 5%;
        left: 6%;
        width: 35vw;
        height: 10vw;
        background-color: black;
        border-radius: 20vw;
    }

    .p2btn h2 {
        color: white;
        text-transform: capitalize;
        font-size: 4.3vw;

    }

    .projectrow2 {
        display: flex;
        flex-direction: column;
        margin-top: 5vw;
    }

    .project3 {
        position: relative;
        margin-top: 5vw;
    }

    .p3img img {
        width: 90vw;
        height: 90vw;
        object-fit: cover;
        border-radius: 60px;
    }

    .p3btn {
        position: absolute;
        bottom: 3%;
        left: 7%;
        background-color: black;
        width: 35vw;
        height: 10vw;
        border-radius: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p3btn h2 {
        font-size: 4.2vw;
        color: white;
        text-align: center;
        text-transform: capitalize;
    }

    .project4 {
        position: relative;
        margin-left: 0vw;
        margin-top: 10vw;
        width: 90vw;
        height: 90vw;
    }

    .p4img img {
        width: 90vw;
        height: 90vw;
        object-position: top;
        object-fit: cover;
        border-radius: 60px;
    }

    .p4btn {
        position: absolute;

        border-radius: 20vw;
        left: 7%;
        background-color: black;
        width: 35vw;
        height: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 3%;
    }

    .p4btn h2 {
        font-size: 4.4vw;
        color: white;
        text-align: center;
        text-transform: capitalize;
    }


    #page4 {
        width: 100%;
        height: 90vh;
        background-color: #253B39;
        position: relative;
    }

    .contactline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20vw;
    }

    .contactline h1 {
        line-height: 9.9vw;
        font-weight: 200;
        font-family: pp woodland;
        font-size: 11vw;
        text-transform: uppercase;
        text-align: center;
        color: white;

    }

    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20vw;
    }

    .button a {
        text-transform: capitalize;
        text-decoration: none;
        color: white;
        border: 1px solid #888;
        padding: 5vw 15vw;
        font-size: 5vw;
        border-radius: 60vw;
    }

    .footer {
        position: absolute;
        bottom: 1%;
        width: 100%;
        border-top: 1px solid white;
        display: flex;
        padding: 1vw 6vw;
        justify-content: space-between;

    }

    .footer a {
        text-decoration: none;
        font-size: 3vw;
        color: #F2F2F2;

    }
}